<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    {{> navbar }}
    <section class="section">
        <div class="container pt-5">
            {{{ body }}}
        </div>
    </section>
    <script src="/app.js"></script>
</body>
</html>