<h1 class="title">Home</h1>
<p>Course shop with Node.js.</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab veniam dignissimos, cumque optio doloribus distinctio magnam ut quaerat fuga ex ratione omnis provident sunt sint quia, impedit hic amet repudiandae.
</p>